<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
	
<test name="Test">
	
  <parameter name="email" value="standard_user"/>
  <parameter name="password" value="secret_sauce"/>
    <classes>
      <class name="task_28june.TestNgParameter"/>
    </classes>
 </test>   
  
</suite>